<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>作用域插槽</title>
    <style>
        .zujianbox {
            border: 1px solid rgba(131, 128, 128, 0.692);
            padding: 20px 10px;
            display: inline-block;
            width: 160px;
            box-shadow: 3px 5px 5px rgb(122, 117, 117);
            border-radius: 5px;
            margin: 20px;
        }
    </style>
</head>

<body>
    <!-- 写一个数组,比如叫 '呵呵','哈哈','吼吼','嚯嚯'
    默认情况下用li展示
    但是特殊情况下,用-来拼接 -->
    <!-- 1.创建app容器 -->
    <div id="app">
        <zujian1></zujian1>
        <zujian1 v-slot:slot1>呼呼</zujian1>

        <!-- ↓ 下面的目的是父级调用组件的数据yuqi,但是不要用组件默认的展示方式 -->
        <zujian1>
            <template v-slot:slot1="fromzizujianyuqi">
                <div>
                    <span v-for="(item2,index2) in fromzizujianyuqi.yuqi2f">{{item2}}-</span>
                </div>
            </template>
        </zujian1>


        <!-- ↓这里再用join尝试一下 -->
        <!-- 是ok的,但是不会写computed,存疑. -->
        <zujian1>
            <template v-slot:slot1="fromzizujianyuqi">
                <div>
                    <span>{{fromzizujianyuqi.yuqi2f.join('@')}}</span>
                </div>
            </template>
        </zujian1>
    </div>
    <!-- 2.创建组件的模板 -->
    <template id="zujian1">
        <div class="zujianbox">
           <slot name="slot1" v-bind:yuqi2f="yuqi">
            <ul>
                <li v-for="(item ,index ) in yuqi">{{item}}</li>
            </ul>
           </slot>
        </div>
    </template>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>
        const app = new Vue({
            el: "#app",
            components: {
                zujian1: {
                    template: '#zujian1',
                    methods: {
                        ccc(){
                            alert()
                        }
                    },
                    data() {
                        return {
                            yuqi: ['呵呵', '哈哈', '吼吼', '嚯嚯']
                        }
                    },
                    
                }
            },
            methods: {},
        })
    </script>
</body>

</html>